.mui-content .person_info_box .name_info_title {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}
.mui-content .person_info_box .name_info_title .img_head {
  width: 60px;
  height: 60px;
  float: left;
  margin: 8px 15px;
  border-radius: 50%;
}
.mui-content .person_info_box .name_info_title .name_info_box {
  padding: 8px 0px;
}
.mui-content .person_info_box .name_info_title .name_info_box p {
  margin: 0px;
  line-height: 20px;
  color: #000;
}
.mui-content .person_info_box .mui-table-view .mui-media .mui-navigate-right .vertical_icon_middle {
  line-height: 24px;
  padding-left: 15px;
}
