.mui-grid-view.mui-grid-9 {
  background: #fff;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
  border: none;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon {
  font-size: 1.8em;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
  color: #000000;
  font-size: 12px;
}
.mui-content .content_header .info_box {
  padding: 0px;
  background: #fff;
}
.mui-content .content_header .info_box .li_list {
  float: left;
  width: 50%;
  border: 1px solid #ecf0f1;
  border-top: none;
}
.mui-content .content_header .info_box .li_list p {
  text-align: center;
  margin: 0px;
  line-height: 30px;
  font-weight: 600;
}
.mui-content .content_header .info_box .li_list .num_p {
  color: #FF0000;
}
.mui-content .content_header .info_box .li_list .title_p {
  color: #000;
}
.mui-content .content_header .info_box .li_list:nth-child(odd) {
  border-right: none;
}
.mui-content .content_header .info_box .li_list:nth-child(1) {
  border-top: 1px solid #ecf0f1;
}
.mui-content .content_header .info_box .li_list:nth-child(2) {
  border-top: 1px solid #ecf0f1;
}
.mui-content .content_center .mui-grid-view .mui-media .look_daili {
  color: #2980b9;
}
.mui-content .content_center .mui-grid-view .mui-media .money_systerm {
  color: #f04134;
}
.mui-content .content_center .mui-grid-view .mui-media .to_learn {
  color: #2980b9;
}
.mui-content .content_center .mui-grid-view .mui-media .learning_box {
  color: #2980b9;
}
.mui-content .content_center .mui-grid-view .mui-media .come_in {
  color: #f78e3d;
}
.mui-content .content_center .mui-grid-view .mui-media .out_put {
  color: #f78e3d;
}
